<a href="https://colab.research.google.com/github/VilleGillstrom/deep_learning/blob/master/laboration1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import absolute_import, division, print_function

# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Importera fashion

In [0]:
fashionMnist = keras.datasets.fashion_mnist

In [0]:
(trainImgs, trainLabels), (testImgs, testLabels) = fashionMnist.load_data()

Map the number to clothes type for later

In [28]:
labelMap = ['T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat', 
               'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot']
pd.DataFrame( {'Label':labelMap}).T

,0,1,2,3,4,5,6,7,8,9
Label,T-shirt/top,Trouser,Pullover,Dress,Coat,Sandal,Shirt,Sneaker,Bag,Ankle boot